body {
  background-color: #666;
  color: #FFF;
  text-align: center;
}
table {
  margin: 1em auto;
}
td {
  padding: 1em;
}
td.alive-false {
  background: black;
  color: gray;
}
.grid {
  width: 500px;
  height: 500px;
  margin: auto;
}
.square {
  width: 10px;
  height: 10px;
  color: #000;
  float: left;
}
.sugar-0 { background-color: #FFF; }
.sugar-1 { background-color: #CBB; }
.sugar-2 { background-color: #C99; }
.sugar-3 { background-color: #C66; }
.sugar-4 { background-color: #C33; }

.occupied { background-color: #006; }
.dead { background-color: default; }

.agent-1 { background-color: #0F0; }
