body {
  background-color: #eee;
  text-align: center;
}

table {
  margin: 1em auto;
}
td {
  padding: 1em;
  vertical-align: top;
}

.grid {
  width: 500px;
  height: 500px;
  margin: auto;
  background: white;
}
.square {
  width: 10px;
  height: 10px;
  color: #000;
  float: left;
}
.sugar-0 { background-color: #FFF; }
.sugar-1 { background-color: #CBB; }
.sugar-2 { background-color: #C99; }
.sugar-3 { background-color: #C66; }
.sugar-4 { background-color: #C33; }

.occupied {
  background-color: #020;
  border-radius: 10px;
}
.dead { background-color: default; }
